p {
  margin: 0;
}

.cat-info > img {
  width: 500px;
}

.loader {
  margin-top: 32px;
  font-size: 20px;
}

.error {
  font-size: 20px;
  color: #e73e2f;
}


.hidden {
  display: none;
}

.title {
  font-size: 36px;
  color: #6b6868;
}

.content_wrapper {
  display: flex;
  gap: 24px;
}

.img_wrapper {
  width: 500px;
}

.img {
  max-width: 100%;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;
  font-size: 20px;
  color: #463d3d;
}

.temperament {
  font-size: 18px;
}